/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('../node_modules/ag-grid/dist/styles/ag-grid.css');
@import url('../node_modules/ag-grid/dist/styles/ag-theme-fresh.css');

html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    /*margin-top: 60px;*/
    margin-bottom: 60px;
  }

body > .container {
    padding: 60px 15px 0;
 }
  
  .footer > .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  
  code {
    font-size: 80%;
  } 
  